* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

header {
  height: 80px;
  background-color: gray;
  grid-column: 1 / 4;
}

aside {
  background-color: rgb(168, 157, 157);
}

article {
  height: 400px;
  background-color: rgb(208, 199, 199);
  grid-column: 2 / 3;
}

footer {
  background-color: gray;
  height: 80px;
  grid-column: 1 / 4;
}
