* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

li {
  list-style: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: white;
  line-height: 1.4;
  margin-right: 0px;
}

.right {
  justify-self: right;
}

.box1 {
  background-image: url("images/Screen Shot 2022-11-15 at 11.21.59 PM.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.aside-headers {
  /* padding-top: 600px; */
  margin-top: 400px;
  text-transform: uppercase;
  margin-left: 60px;
}

.aside-headers h2 {
  font: 46px/50px D-DIN-Bold, Arial, Verdana, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
  color: white;
}

.aside-headers h4 {
  font: 20px/38px D-DIN-Medium, Arial, Verdana, sans-serif;
  font-weight: 400;
  color: white;
}

.aside-headers button {
  margin-top: 40px;
  text-transform: uppercase;
  font: 14px/50px D-DIN-Bold, Arial, Verdana, sans-serif;
  width: 180px;
}

.box2 {
  background-image: url("images/Screen Shot 2022-11-15 at 11.22.09 PM.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.box3 {
  background-image: url("images/Screen Shot 2022-11-15 at 11.21.59 PM.png");
  background-repeat: no-repeat;
  background-position: center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.box4 {
  background-image: url("images/Screen Shot 2022-11-15 at 11.24.33 PM.png");
  background-repeat: no-repeat;
  background-position: center center fixed;
  background-size: cover;
  min-height: 100vh;
}

footer {
  background-color: black;
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer li {
  margin: 20px;
}
